@import url('https://fonts.googleapis.com/css2?&family=Rancho&family=Satisfy&family=Archivo+Narrow&family=Work+Sans&display=swap');

.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "nav header"
    "nav content"
    "nav footer";
  grid-template-rows: 80px 1fr 70px 70px;  
  grid-template-columns: 20% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(to top right, #7D38FB, #C02EC4, #6094EA);
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  color: white;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

header, footer, content, nav {
  padding: 0.3em;
  }

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "content"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
  }
}
.glass-button {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255,255,255,0.2);
}
.title {
  padding: 10px;
  font-family: "Rancho", cursive;
  font-size: 30px;
  color: white;
}
.glass {
  /* From https://css.glass */
  background: rgba(171, 126, 255, 0.25);
  border-radius: 16px;
  box-shadow: 20px 24px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 10px;
  padding: 10px;
  color: white;
}
.page-title{
  padding: 10px;
  font-family: "Rancho", cursive;
  font-size: 40px;
}
.text-link {
  padding: 50px 0px 10px 0px;
  text-decoration: underline;
}
.text-link:hover, :visited, :link, :active {
  padding: 50px 0px 10px 0px;
  border-radius: 10px;
  color: white;
}
label{
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
input[type="text"], 
input[type="password"] {
  padding: 10px;
  margin: 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  border-radius: 10px;
}