@import '~antd/dist/antd.css'

.App {
  text-align: center;
  border: 1px solid green;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #ffffff;
}

.sidebar {
  width: 240px;
}