.temp-box {
  border: 1px solid grey;
}
img {
  width: 200px;
}

.card {
  background: white;
  width: 24em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  box-shadow: 3px;
  transition: all ease 200ms;
  border: 1px green solid;
}
